---
import githubLogo from "@assets/icons/github-logo.svg";
import Image from "astro/components/Image.astro";
---

<footer>
  <h1>LogicLab</h1>
  <a
    href="https://github.com/enzzoMs/LogicLab"
    target="_blank"
    rel="noreferrer noopener"
  >
    <Image src={githubLogo} alt="Github Logo" title="View on Github" />
  </a>
</footer>

<style>
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary-extra-dark);
    padding: var(--space-l) var(--space-xl);
  }

  h1 {
    color: var(--color-on-primary);
    font-size: var(--text-xl);
    font-weight: var(--weight-bold);
    margin: 0;
  }

  a {
    display: flex;
    align-items: center;
  }

  a img {
    height: var(--text-xl);
  }
</style>