---

---

<section>
  <div class="cta-container">
    <h2>Ready to Begin Your Journey?</h2>
    <p>
      Unlock the concepts of Boolean algebra and
      improve your skills with hands-on practice
    </p>
    <div class="btns-container">
      <button class="btn-primary">Explore Lessons</button>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-extra-light);
    margin: var(--space-2xl);
    padding: var(--space-xl) var(--space-2xl);
  }

  .cta-container {
    width: 100%;
    max-width: 45em;
    text-align: center;
  }

  h2 {
    font-size: var(--text-2xl);
  }

  p {
    font-size: var(--text-l);
  }

  .btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-m);
    margin-top: var(--space-m);
  }
</style>