---
import Section from "@components/shared/Section.astro";
import AppStartGuide from "@components/home/AppStartGuide.astro";
import AppBenefits from "@components/home/AppBenefits.astro";
---

<Section
  title="Features"
  subtitle="Explore, Learn, and Experiment with Boolean Logic">
  <div class="responsive-grid gap-l cols-1 cols-lg-2">
    <AppBenefits />
    <AppStartGuide />
  </div>
</Section>
