---

---

<section>
  <div class="hero-container">
    <h1 class="hero-title">Master Boolean Algebra</h1>
    <p>
      A interactive platform for learning and experimenting with boolean
      expressions, truth tables and logical reasoning
    </p>
    <div class="hero-btns">
      <a href="/lessons" class="btn-primary">Start Learning</a>
      <a href="/lessons" class="btn-outline">View Lessons</a>
    </div>
  </div>
</section>

<style>
  section {
    background-color: var(--color-surface-primary);
    padding: var(--space-2xl) var(--space-xl);
  }

  .hero-container {
    width: 100%;
    max-width: 45em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-l);
    text-align: center;
    margin: 0 auto 0 auto;
  }

  .hero-title {
    margin-bottom: 0;
  }

  p {
    font-size: var(--text-l);
  }

  .hero-btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--space-m);
    margin: var(--space-3xs) auto 0 auto;
  }
</style>
