---
import githubLogo from "@assets/icons/github-logo.svg";
import Image from "astro/components/Image.astro";
---

<div class="footer-wrapper">
  <footer>
    <h1>LogicLab</h1>
    <a
      href="https://github.com/enzzoMs/LogicLab"
      target="_blank"
      rel="noreferrer noopener">
      <Image src={githubLogo} alt="Github Logo" title="View on Github" />
    </a>
  </footer>
</div>

<style>
  .footer-wrapper {
    width: 100%;
    background-color: var(--color-primary-extra-dark);
  }

  footer {
    width: 100%;
    max-width: var(--max-body-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-l) var(--space-xl);
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    color: var(--color-on-primary);
    font-size: var(--text-xl);
    font-weight: var(--weight-bold);
    margin: 0;
  }

  a {
    display: flex;
    align-items: center;
  }

  a img {
    height: var(--text-xl);
  }
</style>