---
import Card from "@components/shared/Card.astro";
---

<Card title="Quick Tools">
  <a href="/LogicLab/editor" class="btn-outline btn-small">Expression Editor</a>
  <a href="/LogicLab/editor" class="btn-outline btn-small">Truth Tables</a>
  <a href="/LogicLab/quizzes" class="btn-outline btn-small">Quizzes</a>
</Card>
