---
import Header from "../components/Header.astro";
import appLogo from "@assets/icons/app-logo.svg?url";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href={appLogo} />
    <link rel="stylesheet" href="/src/assets/styles/styles.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${pageTitle} - LogicLab`}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
