.editorContainer {
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface-primary);
  padding: var(--space-m) var(--space-l);
  box-shadow: 0 2px 8px #0000001a;
}

.editorContainer h3 {
  font-size: var(--text-l);
  font-weight: var(--weight-semibold);
}

.editorContainer h4 {
  color: var(--color-text-body);
  font-size: var(--text-s);
  font-weight: var(--weight-medium);
  margin-bottom: var(--space-xs);
}

.expressionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2xs);
  border: var(--border-thickness) solid var(--border-color);
  padding: var(--space-2xs) var(--space-xs);
  margin-bottom: var(--space-m);
}

.tokensContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  margin-bottom: var(--space-s);
}

.token, .operatorToken, .hintToken {
  color: var(--btn-outline-text-color);
  font-size: var(--text-s);
  font-weight: var(--weight-medium);
  background-color: var(--color-surface-secondary);
  border: var(--border-thickness) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--space-4xs) var(--space-2xs);
}

.hintToken {
  color: rgba(var(--color-text-body-rgb), 0.6);
  background-color: transparent;
  border-color: transparent;
}

.operatorToken {
  background-color: var(--btn-secondary-bg);
}

.editorButtons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-xs);
  border-top: var(--border-thickness) solid var(--border-color);
  padding-top: var(--space-s);
}

.editorButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2xs);
}

.editorButtons button svg {
  width: 1.2em;
  height: 1.2em;
}