.btn-primary,
.btn-outline,
.btn-secondary,
.btn-ghost {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-4xs);
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--weight-medium);
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  padding: var(--space-xs) var(--space-m);
  box-shadow: 0 2px 8px #0000001a;
  transition: all 0.2s ease-in-out;
}

.btn-medium {
  font-size: var(--text-m);
  padding: var(--space-xs) var(--space-m);
}

.btn-medium svg {
  width: var(--text-m);
  height: var(--text-m);
}

.btn-small {
  font-size: var(--text-s);
  padding: var(--space-2xs) var(--space-s);
}

.btn-small svg {
  width: var(--text-s);
  height: var(--text-s);
}

/* -------------------------------------------- */

.btn-primary {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-primary-dark);
}

.btn-primary:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

/* -------------------------------------------- */

.btn-outline {
  color: var(--btn-outline-text-color);
  background-color: transparent;
  border: var(--border-thickness) solid var(--border-color);
  box-shadow: none;
}

.btn-outline:hover {
  background-color: var(--btn-outline-bg-focused);
  border-color: var(--border-color-active);
}

.btn-outline:focus {
  outline: 2px solid var(--border-color);
  outline-offset: 2px;
}

/* -------------------------------------------- */

.btn-secondary {
  color: var(--color-text-title);
  background-color: var(--btn-secondary-bg);
}

.btn-secondary:hover {
  background-color: var(--btn-secondary-bg-focused);
}

.btn-secondary:focus {
  outline: 2px solid var(--btn-secondary-bg-focused);
  outline-offset: 2px;
}

/* -------------------------------------------- */

.btn-ghost {
  color: var(--color-text-body);
  background-color: transparent;
  box-shadow: none;
  transition: none;
  padding: 0;
}

.btn-ghost:hover {
  color: var(--color-text-title);
}

/* -------------------------------------------- */

.badge, .badge-green, .badge-yellow, .badge-red {
  display: inline-block;
  font-size: var(--text-s);
  font-weight: var(--weight-medium);
  line-height: 1.2em;
  background-color: var(--color-surface-secondary);
  padding: var(--space-4xs) var(--space-2xs);
}

.badge-green {
  color: var(--color-green-dark);
  background-color: var(--color-green);
}

.badge-yellow {
  color: var(--color-yellow-dark);
  background-color: var(--color-yellow);
}

.badge-red {
  color: var(--color-red-dark);
  background-color: var(--color-red);
}
