.responsive-grid {
  display: grid;
  align-items: center;
  justify-content: center;
}

.cols-1 {
  grid-template-columns: repeat(1, 1fr);
}
.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.cols-6 {
  grid-template-columns: repeat(6, 1fr);
}
.cols-7 {
  grid-template-columns: repeat(7, 1fr);
}
.cols-8 {
  grid-template-columns: repeat(8, 1fr);
}

@media (min-width: 640px) {
  .cols-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cols-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cols-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .cols-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .cols-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .cols-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .cols-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .cols-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 768px) {
  .cols-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cols-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cols-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .cols-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .cols-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .cols-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .cols-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .cols-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1024px) {
  .cols-lg-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cols-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cols-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .cols-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .cols-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .cols-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .cols-lg-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .cols-lg-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1280px) {
  .cols-xl-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cols-xl-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cols-xl-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .cols-xl-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .cols-xl-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .cols-xl-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .cols-xl-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .cols-xl-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1536px) {
  .cols-xxl-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cols-xxl-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cols-xxl-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .cols-xxl-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .cols-xxl-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .cols-xxl-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .cols-xxl-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .cols-xxl-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

/* GAPS */

.gap-none {
  gap: 0;
}
.gap-4xs {
  gap: var(--space-4xs);
}
.gap-3xs {
  gap: var(--space-3xs);
}
.gap-2xs {
  gap: var(--space-2xs);
}
.gap-xs {
  gap: var(--space-xs);
}
.gap-s {
  gap: var(--space-s);
}
.gap-m {
  gap: var(--space-m);
}
.gap-l {
  gap: var(--space-l);
}
.gap-xl {
  gap: var(--space-xl);
}
.gap-2xl {
  gap: var(--space-2xl);
}
.gap-3xl {
  gap: var(--space-3xl);
}
.gap-4xl {
  gap: var(--space-4xl);
}
